doctype html
html(lang="en")
    head
        title #{title}
        link(rel="stylesheet", href="/css/style.css")
    body
        .form-wrapper
            a(href="/") Back
            h1 BoardGame: #{name}
                h6 Type: #{type}
            br
            h3 Thematic: #{thematic}
            br
            form(method="POST")
                label(for="newThematic") New Thematic
                input(type="text" name="newThematic" required)
                input(type="submit" value="Submit")