doctype html
html
    head
        title {title}
        link(rel="stylesheet", href="/css/style.css")
    body
        .container
            h1 Board Games
            a(href="/update-cobj") Add to this table
            br
            if boardGames.length > 0
                br
                table(border="1")
                    thead
                        tr
                            th Name
                            th Type
                            th Thematic
                    tbody
                      each boardGame in boardGames
                          tr
                              td= boardGame.properties.name
                              td= boardGame.properties.type
                              td= boardGame.properties.thematic
            else
                p No records found.